
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
      /* this is header section */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px;
    background-color: rgb(39, 39, 39);
}
.header-logo h2{
    text-transform: none;
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}
.flower{
    color: #E55473;;
}
.menu-list{
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    color: #fff;
    margin-left: 20px;
    padding: 15px 0px;
    cursor: pointer;
}
.menu-list:hover{
    color: #E55473;
}
   /* this is banner section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px 0px;
    background-color: #FCEEF1;
}
.banner-heading{
    width: 470px;
    font-size: 50px;
    color: #272727;
}
.banner-text{
    width: 450px;
    font-size: 12px;
    color: #777777;
    line-height: 1.5;
    padding-top: 15px;
}
.banner-img1{
    width: 400px;
    height: 500px;    
}
.btn{
    margin-top: 20px;
    padding: 13px 25px;
    border-radius: 5px;
    background: #E55473;
    border: none;
    color: #fff;
}
     /* This is Featured section */
    .featured-heading{
        text-align: center;
        font-size: 30px;
        color: #272727;
    }
    .featured-text{
        text-align: center;
        font-size: 12px;
        color: #777777;
        line-height: 1.5;
        padding-top: 15px;
        padding-bottom: 40px;
    }
    .featured-section{
        padding: 120px 160px 0px;
    }
    .box1{
        width: 310px;
        height: 360px;
        background-color: #F1DDE7;
        border-radius: 250px 250px 0px 0px;
    }
    .box2{
        width: 310px;
        height: 360px;
        background-color: #D9EFF0;
        border-radius: 250px 250px 0px 0px;
    }
    .box3{
        width: 310px;
        height: 360px;
        background-color: #E3EBDB;
        border-radius: 250px 250px 0px 0px;
    }
    .box-img{
        width: 220px;
        height: 280px;
        margin-top: 80px;
        margin-left: 40px;
    }
    .box-title{
        padding-top: 20px;
        text-align: center;
        font-weight: 600;
        color: #272727;
        text-decoration: underline;
    }
    .featured-box{
        display: flex;
        justify-content: space-around;
    }
    /* This is Extra section aria */

    .extra-section{
        background-color: #F4F4F4;
        margin: 120px 160px 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 8px;
        padding: 50px 0px;
    }

    .icon{
        width: 60px;
        margin-left: 40%;
    }
    .icon-title{
        color: #686868;
        padding-top: 20px;
    }
    /* This is 25% Of section aria */
    .discount-section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #FDF6F8;
        margin: 100px 0px;
        padding: 80px 160px;
    }
    .dis-sec-heading{
        font-size: 27px;
        text-align: center;
        color: #272727;
        width: 400px;
        margin-left: 25px;
    }
    .off{
        color: #E55473;
    }
    .dis-sec-text{
        padding-top: 15px;
        line-height: 1.5;
        width: 450px;
        text-align: center;
        font-size: 12px;
        color: #777777;
    }
    .dis-sec-img{
        width: 220px;
        height: 280px;
    }
    .btnd{
        margin-top: 20px;
        margin-left: 40%;
        padding: 13px 25px;
        border-radius: 5px;
        background: #E55473;
        border: none;
        color: #fff;
    }
    /* This is Instagram section aria */
    .instagram-section{
        margin: 0px 160px 80px;
    }

    .insta-box{
        display: flex;
        justify-content: space-around;
    }
    .insta-img{
        width: 230px;
        height: 268px;
    }
    /* This is subscribe section aria */


